In [1]:
!pip install nltk

Requirement already satisfied: nltk in /Users/amodpathirana/opt/anaconda3/lib/python3.7/site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in /Users/amodpathirana/opt/anaconda3/lib/python3.7/site-packages (from nltk) (2022.3.15)
Requirement already satisfied: joblib in /Users/amodpathirana/opt/anaconda3/lib/python3.7/site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in /Users/amodpathirana/opt/anaconda3/lib/python3.7/site-packages (from nltk) (8.0.4)
Requirement already satisfied: tqdm in /Users/amodpathirana/opt/anaconda3/lib/python3.7/site-packages (from nltk) (4.64.0)
Requirement already satisfied: importlib-metadata in /Users/amodpathirana/opt/anaconda3/lib/python3.7/site-packages (from click->nltk) (4.11.3)
Requirement already satisfied: zipp>=0.5 in /Users/amodpathirana/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->click->nltk) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /Users/amodpathirana/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->click->nltk) (4.1.1)

In [2]:
import pandas as pd
import numpy as np

Use Encoding = "latin-1" becaue it wants to reduce the issues when converting text into the CSV format

In [5]:
df= pd.read_csv("Corona_NLP_train.csv", encoding="latin-1")

In [6]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [7]:
df=df[['OriginalTweet', 'Sentiment']]
df.head()

                                       OriginalTweet           Sentiment
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1  advice Talk to your neighbours family to excha...            Positive
2  Coronavirus Australia: Woolworths to give elde...            Positive
3  My food stock is not the only one which is emp...            Positive
4  Me, ready to go at supermarket during the #COV...  Extremely Negative